html,body{
    height: 100%;
    margin: 0;
}
div{
    background-color: aliceblue;
    font-size: 130px;
    width: 50%;
    height:100%;
    float: left;
    text-align: center;
    line-height: 550%;
    font-family:Impact;
}
a{ color: #cd2742;
text-decoration: none;}
a:hover{color: #cd2742;
text-decoration: none;}